         table, td, th {
         	border-collapse: collapse;
            border: 2px solid black;
            text-align: center;
            padding: 10px;
            color: darkred;
        }
        h1, h2, h3 {
        	font-family: sans-serif;
       		font-weight: bold;
       		}
        h1 {
        	font-size: 40px;
        }
        }
        h2 {
        	font-size: 30px;
        }
        }
        h3 {
        	font-size: 25px;
        }
        p {
        	font-size: 18px;
        	font-family: serif;
        	font-style: bold;
        }
        ul li, ol li {
        	font-size: 18px;
        	color: darkred;
        }
        a {
        	color: darkblue;
        }
          @media (min-width: 650px) {
  table, td, th {
      width: 650px;
  }
  }
  @media (max-width: 649px) {
  table, td, th {
      width: 350px;
  }
  }
  .extrainfo {
  	color:darkblue;
  	font-size: 16;
  	font-weight: bold;
  }
  #sales {
  	font-weight: bold;
  	color:black;
  }
.col{
	padding-top: 7px;
}
h1, h2, h3 {
	 color: firebrick;
}
 div {
	 font-weight: bold;
}
 div a {
	 font-size: 14px;
}
 .new, .new--stop {
	 text-decoration: underline;
}
 .new--stop {
	 color: red;
}
 